@{ Layout = null; }

@model POS.DataAccessLayer.Models.Subscriptions.CompanySubscriptionModel

<form method="post" asp-action="CreateCompanySubscription" id="subscriptionForm" novalidate>
    <div class="row">
        <input type="hidden" asp-for="CompanySubscriptionId" />
        <div class="col-md-6 form-group">
            <label>Company</label>
            <select asp-items="@(new SelectList(ViewBag.Companies,"Value","Text"))" asp-for="CompanyId" class="form-control" >
                <option value="">Select</option>
            </select>
            <span asp-validation-for="CompanyId" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-group">
            <label>Subscription</label>
            <select asp-items="@(new SelectList(ViewBag.Subscriptions,"Value","Text"))" asp-for="SubscriptionId" class="form-control">
                <option value="">Select</option>
            </select>
            <span asp-validation-for="SubscriptionId" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-group">
            <label>Start Date</label>
            <input type="text" asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-group">
            <label>End Date</label>
            <input type="text" asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Submit">
    </div>
</form>