@{ Layout = null; }

@model POS.DataAccessLayer.Models.Payment.PaymentTypeModel

<form id="companyForm" asp-controller="PaymentType" asp-action="Create" class="form">
    <div class="fv-row mb-10">
        <input type="hidden" asp-for="PaymentId" />
        <label class="required form-label">Role</label>
        <input class="form-control form-control-solid mb-3 mb-lg-0" asp-for="Name" type="text">
        <span asp-validation-for="Name" class="text-danger fs-7"></span>
    </div>
    <div class="text-center">
        <button type="reset" onclick="closeModal()" class="btn btn-light me-3" data-kt-users-modal-action="cancel">Discard</button>
        <button type="submit" class="btn btn-primary">
            <span class="indicator-label">Submit</span>
            <span class="indicator-progress">
                Please wait...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
    </div>
</form>

<partial name="_ValidationScriptsPartial" />