@{
    ViewData["Title"] = "Company";
}

<div class="row">
    <div class="col-md-6">
        <h4>List of Companies</h4>
    </div>
    <div class="col-md-6 text-right">
        <button id="add-new" class="btn btn-primary btn-sm">Add</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered" id="companiesDataTable">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Actions</td>
                </tr>
            </thead>
        </table>
    </div>
</div>


<!--begin::Modal-->

<partial name="_modal">
    <!--end::Modal-->

    @section scripts{
        <script src="~/js/pages/company.js" asp-append-version="true"></script>
    }
