@{
    ViewData["Title"] = "Forget password";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form method="post" id="forgetPasswordForm" asp-controller="Account" asp-action="ForgetPassword" novalidate>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>Email</label>
                    <input type="email" name="Email" class="form-control" maxlength="160" required />
                </div>
                <div class="col-md-12 form-group">
                    <input type="submit" class="btn btn-primary" value="Login">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>

</div>

@section scripts{

    <script src="~/js/pages/Account/forgetPassword.js" asp-append-version="true"></script>
}