@{
    ViewData["Title"] = "Accounts";
}

<div class="row">
    <div class="col-md-6">
        <h4>List of Accounts</h4>
    </div>
    <div class="col-md-6 text-right">
        <button id="add-new" class="btn btn-primary btn-sm">Add</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered" id="accountsDataTable">
            <thead>
                <tr>
                    <td>Username</td>
                    <td>Phone#</td>
                    <td>Email</td>
                    <td>Role</td>
                    <td>Status</td>
                    <td>Actions</td>
                </tr>
            </thead>
        </table>
    </div>
</div>


<!--begin::Modal-->

<partial name="_modal">
    <!--end::Modal-->

    @section scripts{

        <script src="~/js/utils/datatable.js"></script>
        <script src="~/js/pages/Account/registration.js" asp-append-version="true"></script>
    }
