@{
    ViewData["Title"] = "Password Reset";
}

@model PointOfSale.Model.Account.PasswordResetViewModel
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form method="post" asp-controller="Account" asp-action="PasswordReset" novalidate>
            <div class="row">
                <input type="hidden" asp-for="Email" />
                <input type="hidden" asp-for="Token" />
                <div class="col-md-12 form-group">
                    <label>Password</label>
                    <input type="text" asp-for="Password" class="form-control" maxlength="160" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-md-12 form-group">
                    <label>Confirm Password</label>
                    <input type="text" asp-for="ConfirmPassword" class="form-control" maxlength="160" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="col-md-12 form-group">
                    <input type="submit" class="btn btn-primary" value="Reset">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>

</div>
