@{
    ViewData["Title"] = "Sales";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">


<div class="row">
    <div class="form-group col-md-4">
        <label>Invoice#</label>
        <input type="text" class="form-control" id="invoiceNumber" />
    </div>
    <div class="form-group col-md-4">
        <label>Customer</label>
        <input type="text" class="form-control" id="customerId" />
    </div>
    <div class="form-group col-md-4">
        <label>Payment Types</label>
        <select asp-items="@(new SelectList(ViewBag.PaymentTypes,"Value","Text"))" class="form-control" id="paymentType">
            <option value="">Select</option>
        </select>
    </div>
    <div class="form-group col-md-12" style="border-bottom:1px dashed"></div>
</div>
<br />
<div class="row">
    <div class="form-group col-md-4">
        <label>Product</label>
        <input type="text" id="productId" class="form-control" />
    </div>
</div>

<div class="row">
    <div class="form-group col-md-12 text-right">
        <input type="button" onclick="submitForm()" class="btn btn-warning" value="Place Order" />
    </div>
    <div class="form-group col-md-12">
        <table class="table table-striped" id="itemsList">
            <thead>
                <tr>
                    <th style="display:none">Id</th>
                    <th style="width:300px">Product Name</th>
                    <th>Price/Unit</th>
                    <th>Disc(%)</th>
                    <th>Disc Price</th>
                    <th>Qty</th>
                    <th style="width:160px">Sub total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr><td colspan="5" class="text-right"><b>Total</b></td><td><input type="text" class="form-control" disabled id="grandTotal" /></td></tr>
            </tfoot>
        </table>
    </div>
</div>



<div id="invoice-POS" style="display:none;background-color: white !important; margin-bottom: 0px !important;padding:3px;">

    <style>

        /*#invoice-POS {
            font-family: monospace !important;
        }*/

        /*#invoice-POS .clientlogo {
                float: left;
                height: 60px;
                width: 60px;
                background: url() no-repeat;
                background-size: 60px 60px;
                border-radius: 50px;
            }*/

        /*#invoice-POS .info {
                display: block;
                margin-left: 0;
            }*/

        /*#invoice-POS table {
                width: 100%;
            }*/


        /*#table td {
            background: white !important;
            margin: 0px;
            padding: 0px;
        }*/

        /*th {
            text-align: center;
        }*/



        /*.tblstyle {
            border: 1px solid black;
            border-collapse: collapse;
        }*/
    </style>

    <center>
        <h2 style="text-align: center;margin-top: 0px;">Invoice</h2>
        <div class="info" style="margin-top: -10px; margin-bottom: -20px;">
            <img src="/logo2.jpeg" style="width:80%" alt="">
        </div>
        <!--End Info-->
        <h3 style="text-align: center;" id="companyName"></h3>
    </center>
    <!--End InvoiceTop-->
    <hr style="color:black;font-weight:boder; margin-top: 0px; margin-bottom: 0px;">

    <!--End Invoice Mid-->
    <!-- Start of Invoice Header -->
    <table style="margin-top: -3px;width: 100%;background-color:#ebdcdc !important;font-size:13px;">
        <tr>
            <td style="text-align:right;width:50%"><b>Company Reg #</b></td>
            <td style="text-align:left;width:50%" id="regNum"></td>
        </tr>
        <tr>
            <td style="text-align:right;width:50%"><b>Tax #</b></td>
            <td style="text-align:left;width:50%" id="taxNum"></td>
        </tr>
        <tr style="background-color:white;">
            <td colspan="2" style="text-align:center; background-color:white;" id="orderTime"></td>
        </tr>
        <tr style="background-color:white;">
            <td style="background-color:white;width:50%;">Invoice #</td>
            <td style="text-align:right;background-color:white;width:50%;" id="invNumb"></td>
        </tr>
    </table>
    <hr style="color:black;font-weight:boder; margin-bottom: 0px;">
    <!-- End of Invoice Header -->

    <div id="bot" style="margin-bottom: 5px !important">
        <div id="table">
            <table class="contentTable" style="width: 100%;border:1px solid black;border-collapse: collapse" id="tbl_data">
                <thead>
                    <tr class="tblstyle" style="background-color:#ebdcdc;border:1px solid black">
                        <th class="tblstyle" style="width: 55%; text-align:center !important">Item Name</th>
                        <th class="tblstyle" style="width: 15%; text-align:center !important">Rate</th>
                        <th class="tblstyle" style="width: 15%; text-align:center !important">Qty</th>
                        <th class="tblstyle" style="width: 15%;text-align:center !important">Amount</th>
                    </tr>
                </thead>
                <!-- End of table Header -->
                <tbody style="background-color:white; font-size:13px;">
                </tbody>
            </table>
            <br>

            <table style="margin-top: -13px;width: 100%;">
                <tbody>
                    <tr class="tabletitle">
                        <td style="font-weight: bold;" id="customerName">
                        </td>
                        <td class="payment">
                            <h4></h4>
                        </td>
                        <td style="font-weight: bold;">
                            Total Amount:
                        </td>
                        <td class="payment" id="totalPay" style="text-align:right;">
                            0000
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--End Table-->
        <div id="legalcopy" style="margin-top: -20px !important; margin-bottom: 0px !important;">
            <h4 style="text-align:center;" id="thankNote">****</h4>
            <h5 style="text-align: center; margin-top: -18px;">Powered By .net</h5>
        </div>
    </div>
</div>
@section scripts{

    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

    <script asp-append-version="true">

        let products = [];
        //let customerId = 0;
        let details = [];
        function initEvents() {
            $("#customerId").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Order/GetCustomers",
                        dataType: "json",
                        data: { value: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    id: item.value,
                                    value: item.text
                                };
                            }));
                            //   customers = data;
                        }
                    });
                },
                minLength: 3,
                select: function (event, ui) {
                    //console.log("Selected: " + ui.item.value + " aka " + ui.item.id);
                    customerId = ui.item.id;
                }
            });

            $("#productId").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Order/GetProducts",
                        dataType: "json",
                        data: { value: request.term },
                        success: function (data) {

                            response($.map(data, function (item) {
                                return {
                                    id: item.id,
                                    value: item.name
                                };
                            }));

                            products = data;
                        }
                    });
                },
                minLength: 3,
                //select: function (event, ui) {
                //    //console.log("Selected: " + ui.item.value + " aka " + ui.item.id);

                //    const pro = products.filter(x => x.id == ui.item.id)[0];
                //    //$('#price').val(pro.price);
                //    //$('#discount').val(pro.discount);
                //}
            });

            $("#productId").keydown(function (event) {
                if (event.keyCode == 13) {
                    if ($(this).val().length > 0) {
                        event.preventDefault();
                        addItemToList();
                        $(this).val("");
                    }
                }
            });
        }

        function submitForm() {

            const customerId = ($("#customerId").data("uiAutocomplete").selectedItem ?.id || 0);

            details = [];

            const saleOrder = { customerId: customerId, paymentTypeId: $('#paymentType').val(), total: $('#grandTotal').val() };

            $('#itemsList tbody tr').each(function () {

                const productId = $(this).find('td:eq(0)').text();
                const productName = $(this).find('td:eq(1)').text();
                const disountedPrice = $(this).find('.discPrice').val();
                const qty = $(this).find('.qty').val();
                const subtotal = $(this).find('td:eq(6)').text();

                details.push({ productId: productId, productName: productName, salePrice: disountedPrice, quantity: qty, subtotal: subtotal });
            });

            $.post('/Order/CreateSaleOrder', { saleOrder: saleOrder, details: details }, function (response) {
                if (response.status) {
                    alert(response.message);
                    report(response.companyDetails);
                    $('#itemsList tbody').html('');
                }
            });
        }

        function addItemToList() {

            try {
                const productId = ($("#productId").data("uiAutocomplete").selectedItem ?.id || 0);
                const productName = ($("#productId").data("uiAutocomplete").selectedItem ?.value || "");

                const data = products.filter(x => x.id == productId)[0];

                if (data) {
                    const discount = data.discount;
                    const price = data.price;
                    const qty = 1;
                    const disountedPrice = (price - (((discount / 100) || 1) * price));

                    const subtotal = ((disountedPrice === 0 ? price : disountedPrice) * qty);

                    if (!isProductExist(productId)) {
                        let _html = `<tr><td style="display:none">${productId}</td><td>${productName}</td>
                                                                                                                                                                 <td><input type="text" class="form-control price" disabled value="${price}" /></td>
                                                                                                                                                                 <td><input type="text" class="form-control dicPrecent" onkeyup="claculatPrecentage(this)" value="${discount}" /></td>
                                                                                                                                                                 <td><input type="text" value="${(disountedPrice == 0 ? price : disountedPrice)}" disabled class="form-control discPrice"/></td>
                                                                                                                                                                 <td><input type="text" onkeyup="claculatQty(this)" value="${qty}" class="form-control qty"/></td>
                                                                                                                                                                 <td>${subtotal}</td>
                                                                                                                                                                 <td><button class="btn btn-danger" onclick="removeItem(this)">Remove</button></td></tr>`
                        $('#itemsList tbody').append(_html);
                    }

                    grandTotal();
                } else {
                    alert("please select the product");
                }
            }
            catch (p) {
                console.log(p);
            }
        }

        function claculatPrecentage(ele) {
            const element = $(ele);
            const discount = parseFloat((element.val() || 0));
            const price = parseFloat(element.parent('td').prev().children('.price').val());

            const disountedPrice = (price - (((discount / 100) || 1) * price));
            const discEle = element.parent('td').next().children('.discPrice');
            discEle.val((disountedPrice == 0 ? price : disountedPrice));
            const qtyEletd = discEle.parent('td').next();
            qtyEletd.next().text((disountedPrice == 0 ? price : disountedPrice) * qtyEletd.children('.qty').val());

            grandTotal();
        }

        function claculatQty(ele) {
            const element = $(ele);
            const qty = element.val();
            const qtyTd = element.parent('td');
            const price = qtyTd.prev().children('.discPrice').val();
            qtyTd.next().text(qty * price);
            grandTotal();
        }

        function grandTotal() {
            let total = 0;
            $('#itemsList tbody tr').each(function () {
                const subtotal = parseFloat($(this).find('td:eq(6)').text());
                total += subtotal;
            });
            $('#grandTotal').val(total);
        }

        function isProductExist(productId) {
            isExist = false;


            $('#itemsList tbody tr').each(function () {
                const id = parseInt($(this).find('td:eq(0)').text());
                if (id == productId) {
                    const qtyEle = $(this).find('.qty');
                    qtyEle.val(parseInt(qtyEle.val()) + 1);

                    const disPrice = $(this).find('.discPrice').val();

                    $(this).find('td:eq(6)').text(parseInt(qtyEle.val()) * disPrice);
                    isExist = true;
                }
            });
            return isExist;
        }

        function removeItem(ele) {
            const element = $(ele);
            element.closest('tr').remove();
            grandTotal();
        }

        function report(data) {
            $('#companyName').text(data.companyName)
            $('#regNum').text(data.crNumber)
            $('#taxNum').text(data.taxNumber)
            $('#invNum').text("Inv-" + data.invNumber)
            $('#thankNote').text(data.thankyouNote);

            let _html = "";
            $('#tbl_data tbody').html(_html);
            let total = 0;
            $.each(details, function (i, val) {
                _html += `<tr><td>${val.productName}</td><td>${val.salePrice}</td><td>${val.quantity}</td><td>${val.subtotal}</td></tr>`;
                total += val.subtotal;
            });
            $('#totalPay').text(total)
            $('#tbl_data tbody').append(_html);

            printInvoice();
        }

        function printInvoice() {
            var myPrintContent = document.getElementById('invoice-POS');
            var myPrintWindow = window.open('', 'invoice-POS');
            myPrintWindow.document.write(myPrintContent.innerHTML);
            myPrintWindow.document.close();
            myPrintWindow.focus();
            myPrintWindow.print();
            myPrintWindow.close();
            return false;
        }

        $(document).ready(function () {
            initEvents();
        });
    </script>


}